body
{
	background-color: #fff;
}

*
{
	color: black;
}

h1
{
	color: #00f;
	font-weight: bolder;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.08em;
	text-decoration-color: #aaaaaa;
}

h2
{
	color: #b0f;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.08em;
	text-decoration-color: #aaaaaa;
}

a
{
	color: #f00;
	text-decoration: underline;
}

code
{
	background-color: #eee;
	color: #03f;
	border-radius: 0.2em;
}

b, strong, i, em
{
	color: #080;
}

p
{
	font-size: 1em;
	color: #000;
}

