body
{
	background-color: #000000;
}

h1
{
	color: #00ffff;
	font-weight: bolder;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.08em;
	text-decoration-color: #aaaaaa;
}

h2
{
	color: #ff44ff
}

a
{
	color: #ffaa00;
	text-decoration: underline;
}

code
{
	color: #ffff00;
	background-color: #111111;
	border-radius: 0.2em;
}

b, strong, i, em
{
	color: #22ff22;
}

p
{
	font-size: 1em;
	color: white;
}

